/* Font Colors */

$base-font-size:15px;
$base-font-family:"Segoe UI","Segoe WP","Segoe Regular", sans-serif;
$base-font-color:#666666;


/* Background Colors */
/*primary=#00aff0*/

/*secondary=#7fba00*/
/*light=:#e4eef2*/


/*dark-color=*#2b5464*/

$primary-color:#fff;
$secondary-color:#ddd;
$light-color:#eee;
$dark-color:#00f;


/* Showcase Area */

$showcase-height:500px;
$showcase-image:'../img/showcase.jpg';
